@{
    ViewBag.Title = "Acerca de.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SkyLab es un sistema creado para suplir las necesidades de centros de formación de cualquier nivel en todos los temas de registro de Alumnos, Pregrados y docentes. Desarrollado por Alex Palacios y Rafael Tamayo, conforme a lo aprendido en el programa analisis y desarrollo de sistemas de Información del SENA.</p>
