@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bogotá Colombia<br />
    ADSI 889173<br />
    <abbr title="Phone">P:</abbr>
    317-6594034
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:alexpalacios@outlook.com">AlexPalacios@Outlook.com</a><br />
    <strong>Mercadeo:</strong> <a href="mailto:alexpalacios@outlook.com">AlexPalacios@Outlook.com</a>
</address>