@{
    ViewBag.Title = "SkyLab";
}

<div class="jumbotron">
    <h1>SkyLab</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Bienvenido</h2>
        <p>
            SkyLab es un sistema creado para suplir las necesidades de centros de formación de cualquier nivel en todos los temas de registro de Alumnos, Pregrados y docentes.
        </p>
    </div>
</div>